{% extends 'base_a.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-size: 50px; color:rgb(69, 214, 224)">Cars List</h1>
        </div>
    </div>
    </br></br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Model</th>
                        <th scope="col">No. of AC Car</th>
                        <th scope="col">No. of Non-AC Car</th>
                        <th scope="col">Rent/km</th>
                        <th scope="col">Rent/hr</th>
                        <th scope="col">Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in cmdl %}
                    <tr>
                        <td>{{ car.mname }}</td>
                        <td>{{ car.accar }}</td>
                        <td>{{ car.naccar }}</td>
                        <td>{{ car.rent_h }}</td>
                        <td>{{ car.rent_k }}</td>
                        <td>{{ car.feedback }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}