{% extends 'base.html' %}
{% block body %}
<div class="about-section">
    <h1 class="fs-3" style="color: green">Connect with Us</h1>
    <br>
    <div>
        <p>
            Welcome to the company.
        </p>
        <p>
            Join the TAAS company to book a car for rent instantanously.
        </p>
        <p>
            Renting a car is just few clicks away.
        </p>
        <p>
            Checkout out social media accounts and find us there.
        </p>
        <p>
            Happy Journey :)
        </p>
    </div>
    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    <a href="https://twitter.com/" class="fa fa-twitter"></a>
    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
</div>
{% endblock %}