{% extends 'base_a.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-size: 50px; color:rgb(69, 214, 224)">Customer List</h1>
        </div>
    </div>
</br></br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Joined Date</th>
                        <th>No. of prev. journeys</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.uname }}</td>
                        <td>{{ customer.jdate }}</td>
                        <td>{{ customer.pjrny }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}